%meta{:content => "NO-CACHE", "http-equiv" => "CACHE-CONTROL"}
%meta{:content => "no-cache", "http-equiv" => "Pragma"}
%meta{:content => "-1", "http-equiv" => "Expires"}
%meta{:content => "600", "http-equiv" => "refresh"}
