:javascript
  function googleTranslateElementInit() {
      new google.translate.TranslateElement({
          pageLanguage: 'en',
          gaTrack: true,
          layout: google.translate.TranslateElement.InlineLayout.SIMPLE
      }, 'GoogleTranslateElement');
  }

