#HeaderNavigationBar
  %ul
    %li{@nav_home}= link_to @lang.top_navigation.home, @links.index
    %li{@nav_pricing}= link_to @lang.top_navigation.pricing, @links.pricing
    %li{@nav_faq}= link_to @lang.top_navigation.faq, @links.faq
