!!! XML
%urlset{:xmlns => "http://www.google.com/schemas/sitemap/0.84", "xmlns:xsi" => "http://www.w3.org/2001/XMLSchema-instance", "xsi:schemaLocation" => "http://www.google.com/schemas/sitemap/0.84\r\n\thttp://www.google.com/schemas/sitemap/0.84/sitemap.xsd"}
  %url
    %loc https://www.findbigmail.com/
    %lastmod 2011-10-19
    %priority 1.0
    %changefreq weekly
  %url
    %loc= "https://www.findbigmail.com/#{@links.pricing}"
    %lastmod 2011-10-19
    %priority 0.7
    %changefreq monthly
  %url
    %loc= "https://www.findbigmail.com/#{@links.faq}"
    %lastmod 2011-10-19
    %priority 0.7
    %changefreq weekly
